# control statements

### Simple if

syntax of if statement
if(condition):
    statements

In [1]:
if(2<3):
    print("condition is true");

condition is true

In [5]:
num = -5
if (num<0):
    print(num,'is negative number')
if (num>0):
    print(num,'is positive number')

-5 is negative number

#### input function

In [8]:
a = input("Enter a value")
print(a,type(a))

Enter a value20
20 <class 'str'>

In [11]:
a = int(input("enter a value"))
b = int(input("enter a value"))
print("addition of", a, "and", b, "is", a+b)

enter a value10
enter a value20
addition of 10 and 20 is 30

In [12]:
a = input("enter a value")
b = input("enter a value")
print("multiplication of", a, "and", b, "is", int(a)*int(b))

enter a value25
enter a value45
multiplication of 25 and 45 is 1125

# if-else

In [15]:
num = int(input())
if num<0:
    print(num,"is negative number")
else:
    print(num,"is positive number")

25
25 is positive number

### Largest of two numbers

In [20]:
a = int(input("enter a value"))
b = int(input("enter a value"))
if(a<b):
    print(b,"is largest")
elif(a>b):
    print(a,"is largest")
else:
    print("two are equal")

enter a value25
enter a value50
50 is largest

### Large of three numbers

In [22]:
a = int(input("enter a value"))
b = int(input("enter a value"))
c = int(input("enter a value"))
if(a>b and a>c):
    print(a,"is largest")
elif(b>c):
    print(b,"is largest")
else:
    print(c,"is largest")

enter a value25
enter a value75
enter a value518
518 is largest

### number in range

In [24]:
l = int(input("lower bound value"))
u = int(input("upper bound value"))
n = int(input("enter a value"))
if(n>=l and n<=u):
    print("number exist")
else:
    print("out of bound")

lower bound value10
upper bound value25
enter a value50
out of bound

# *loops*

### for loop

for temp_var in sequence:
    statements

In [25]:
for num in 1,2,3,4:
    print(num)

1
2
3
4

### Range
range (start,end,step)

In [26]:
for num in range(5):
    print(num)

0
1
2
3
4

In [27]:
for num in range(1,5+1):
    print(num," ",end = " ")

1   2   3   4   5

In [28]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [32]:
for num in range(6,0,-1):
    print(num," ",end = " ")

6   5   4   3   2   1

In [40]:
k=0
for num in range(1,10+1):
    k = k+num
print (k)

55

In [41]:
n = int(input("enter a number"))
for i in range(1,10+1):
    print(n," * ",i," =",n+i)

enter a number20
20  *  1  = 21
20  *  2  = 22
20  *  3  = 23
20  *  4  = 24
20  *  5  = 25
20  *  6  = 26
20  *  7  = 27
20  *  8  = 28
20  *  9  = 29
20  *  10  = 30

In [43]:
name="charan"
for char in name:
    print(char)

c
h
a
r
a
n

# break

In [44]:
name="charan"
for char in name:
    if char == 'n':
        break
    print(char)

c
h
a
r
a

# continue

In [46]:
name="charan"
for char in name:
    if char == 'h':
        continue
    print(char,end = "")

caran

#while

In [47]:
i = 1
while i<=5:
    print(i)
    i += 1

1
2
3
4
5

In [64]:
i = 1
while i<=10:
    print(i,"*",i,"=",i*i,end="       ")
    i += 1

1 * 1 = 1       2 * 2 = 4       3 * 3 = 9       4 * 4 = 16       5 * 5 = 25       6 * 6 = 36       7 * 7 = 49       8 * 8 = 64       9 * 9 = 81       10 * 10 = 100

In [59]:
n = 1
i = 1
while i<=5:
    n = n*i
    i = i+1
    print(n)

1
2
6
24
120